html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(20deg, #5C8374 30%, #c6dcd4 70%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  nav {
    display: block;
    padding-top: 1rem;
}
a:-webkit-any-link {
    color: #012424;
    cursor: pointer;
    
    text-decoration: underline;
}
#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}
#navbarSupportedContent li {
    list-style-type: none;
    float: left;
    padding: auto;
}
#navbarSupportedContent ul {
    padding: 2px;
    margin: 0px;
}
.navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
li {
    
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 10px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #183D3D;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #183D3D;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #183D3D;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  @-webkit-keyframes hvr-back-pulse {
    30% {
      background-color: rgba(9, 2, 20, 0.75);
    }
  }
  @keyframes hvr-back-pulse {
    70% {
      background-color: rgba(75, 0, 209, 0.75);
    }
  }
  
  button:hover, button:focus, button:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: rgba(29, 35, 31, 0.75);
    background-color: rgba(29, 35, 31, 0.75);;
    color: white;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 5%;
  }
